# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [22]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("./resources/applicants_data.csv"  
)

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [23]:
# Review the data types associated with the columns
applicant_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [24]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=["EIN","NAME"])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [35]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [37]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [38]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [39]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [40]:
# create dataframe with numerical variables
numerical_variables_df = applicant_data_df.drop(columns=categorical_variables)

In [41]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat(
    [
        numerical_variables_df,
        encoded_df
    ],
    axis = 1
)

# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [51]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
y.head()

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [52]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=["IS_SUCCESSFUL"])

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [53]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [54]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [66]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [67]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  116

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

116

In [68]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  52

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

52

In [69]:
# Create the Sequential model instance
nn = Sequential()

In [70]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features,activation="relu"))

In [71]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, input_dim=number_input_features,activation="relu"))

In [72]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(1,activation="sigmoid"))

In [73]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 116)               13572
_________________________________________________________________
dense_4 (Dense)              (None, 52)                6084
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 53
=================================================================
Total params: 19,709
Trainable params: 19,709
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [74]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy",optimizer="adam",metrics=["accuracy"])

In [75]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 4s 3ms/step - loss: 0.5729 - accuracy: 0.7199TA: 0s - los
Epoch 2/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5526 - accuracy: 0.7302: 1s
Epoch 3/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5486 - accuracy: 0.7313: 0s - loss:
Epoch 4/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5475 - accuracy: 0.7330
Epoch 5/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5454 - accuracy: 0.7343
Epoch 6/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5446 - accuracy: 0.7323
Epoch 7/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5435 - accuracy: 0.7340
Epoch 8/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5425 - accuracy: 0.7339
Epoch 9/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5420 - accuracy: 0.7358
Epoch 10/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5413 - accuracy: 0.7359
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7360
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7366: 0s - los
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7370: 2s - loss: 0.5284 - ac - ETA: 1s - loss: 0.528 - ETA: 0s - loss: 0.5330  - ETA: 0s - loss: 0.535
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7369: 0s - los
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7362
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7373:
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7380: 0s - loss: 0.5375  - ETA: 0s - loss: 0.5364 -
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7378
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7377: 0s - loss: 0.5
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7383
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7383:  - ETA: 0s - loss: 0.5339
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7381
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7394
Epoch 24/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5360 - accuracy: 0.7399: 0s - loss: 0.5360 - ac
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7398
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7395
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7396
Epoch 28/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5347 - accuracy: 0.7395: 0s - loss: 0.5353 - accuracy:
Epoch 29/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5344 - accuracy: 0.7402
Epoch 30/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5348 - accuracy: 0.7390: 0s - loss: 0.5
Epoch 31/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5337 - accuracy: 0.7398
Epoch 32/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5337 - accuracy: 0.7397
Epoch 33/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5337 - accuracy: 0.7406: 2s - loss: 0.5290 - accuracy:  - ETA: 2s - loss: 0.5294 -  - ETA: 0s - loss: 0.5334 - accuracy: 0. - ETA: 0s - loss:
Epoch 34/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5329 - accuracy: 0.7403
Epoch 35/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5335 - accuracy: 0.7409: 1s - - ETA: 0s - loss: 0.5334 - accuracy: 0.74
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5331 - accuracy: 0.7407: 0s - loss: 0.5326 - accuracy: 0.74
Epoch 37/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5330 - accuracy: 0.7411
Epoch 38/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5329 - accuracy: 0.7411
Epoch 39/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5329 - accuracy: 0.7407
Epoch 40/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5326 - accuracy: 0.7413
Epoch 41/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5322 - accuracy: 0.7410
Epoch 42/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5320 - accuracy: 0.7405
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7409
Epoch 44/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5316 - accuracy: 0.7409
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7423
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5315 - accuracy: 0.7409
Epoch 47/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5314 - accuracy: 0.7409: 0s - loss: 0.531 - ETA: 0s - loss: 0.5317 - accuracy
Epoch 48/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5313 - accuracy: 0.7423
Epoch 49/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5311 - accuracy: 0.7418: 0s - loss: 0.5320
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5308 - accuracy: 0.7423: 0s - loss: 0.5273

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [76]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5549 - accuracy: 0.7317
Loss: 0.5548617243766785, Accuracy: 0.7316617965698242

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [78]:
# Set the model's file path
file_path = Path("Resources/AlphabetSoup.h5")

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [108]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [109]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [110]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 100

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

100

In [111]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A1 = 90

# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A1

90

In [112]:
# Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer3_A1 = 80

# Review the number of hidden nodes in the third layer
hidden_nodes_layer3_A1

80

In [113]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [114]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features,activation="relu"))
nn_A1.add(Dense(units=hidden_nodes_layer2_A1, input_dim=number_input_features,activation="relu"))
nn_A1.add(Dense(units=hidden_nodes_layer3_A1, input_dim=number_input_features,activation="relu"))

# Output layer
nn_A1.add(Dense(1,activation="linear"))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_18 (Dense)             (None, 100)               11700
_________________________________________________________________
dense_19 (Dense)             (None, 90)                9090
_________________________________________________________________
dense_20 (Dense)             (None, 80)                7280
_________________________________________________________________
dense_21 (Dense)             (None, 1)                 81
=================================================================
Total params: 28,151
Trainable params: 28,151
Non-trainable params: 0
_________________________________________________________________

In [115]:
# Compile the Sequential model
nn_A1.compile(loss="mean_squared_error",optimizer="adam",metrics=["mse"])

In [116]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 0.2196 - mse: 0.2196A: 0s - loss: 0.2277 - m - ETA: 0s - loss: 0.2202 - mse: 0.220
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1966 - mse: 0.1966A: 1s -
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1896 - mse: 0.1896A: 1s -
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1880 - mse: 0.1880A: 0s - loss: 0.19
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1859 - mse: 0.1859A: 0s - loss: 0.1852 - m - ETA: 0s - loss: 0.1851 - mse: 0.1
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1859 - mse: 0.1859A:
Epoch 7/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1843 - mse: 0.1843
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1839 - mse: 0.1839
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1840 - mse: 0.1840A: 0s - loss: 0.1857 - mse: - ETA: 0s - loss: 0.1846 - mse:
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1836 - mse: 0.1836A: 1s - loss: - ETA: 0s - loss: 0.1831 -
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1832 - mse: 0.1832A: 0s - loss: 0.1839 - mse:  - ETA: 0s - loss: 0.1839 - ms
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1832 - mse: 0.1832A: 0s - loss: 0.1834 - mse: 0 - ETA: 0s - loss: 0.1834 - mse: 0.18
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1827 - mse: 0.1827A: 1 - ETA: 0s - loss: 0.1829 - mse:
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1826 - mse: 0.1826
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1820 - mse: 0.1820A: 0s - loss: 0.1819 - mse: 0.
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1822 - mse: 0.1822A: 0s - loss: 0.1
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1818 - mse: 0.1818A: 1s - loss: 0.1804 - mse: - ETA: 1s - lo
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1819 - mse: 0.1819A: 1s - loss: 0.1765  - ETA: 0s - loss: 0.1814 - mse: 0. - ETA: 0s - loss: 0.1810
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1817 - mse: 0.1817A: 0s - loss: 0.1821 - mse: 0.18 - ETA: 0s - loss: 0.1823 - mse:  - ETA: 0s - loss: 0.1821 - mse: 0.182
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1817 - mse: 0.1817
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1815 - mse: 0.1815A: 1s -  - ETA: 0s - loss: 0.1816 - mse: - ETA: 0s - loss: 0.1815 - mse: 0.181
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1813 - mse: 0.1813A: 1s - loss: 0.1814  - ETA: 0s - loss: 0.1816 - mse:
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1808 - mse: 0.1808A: 1s - loss:  - ETA: 0s - loss: 0.1807 - mse: 0 - ETA: 0s - loss: 0.1808 - mse: 0.
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1805 - mse: 0.1805
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1806 - mse: 0.1806A: 1s - loss - ETA: 0s - loss: 0.1811 - mse: 0.18
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1805 - mse: 0.1805A: 1s - l
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1805 - mse: 0.1805A: 1s - loss: 0.1763 - ms - ETA: 0s - loss: 0.1
Epoch 28/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1801 - mse: 0.1801
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1801 - mse: 0.1801A: 0s - loss: 0.1803
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1799 - mse: 0.1799A: 0s - loss: 0.1798 - mse
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1800 - mse: 0.1800A: 1s - loss: - ETA: 0s - loss: 0.1790 - mse:
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1797 - mse: 0.1797
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1797 - mse: 0.1797A: 0s - loss: 0.1794 - m
Epoch 34/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1797 - mse: 0.1797
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1796 - mse: 0.1796A: 0s - loss: 0.1790 - mse: 0
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1794 - mse: 0.1794
Epoch 37/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1795 - mse: 0.1795A: 0s - loss: 0.1801 - mse:
Epoch 38/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1791 - mse: 0.1791A: 0s - loss: 0.1792 - mse: 0
Epoch 39/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1794 - mse: 0.1794
Epoch 40/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1791 - mse: 0.1791
Epoch 41/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1793 - mse: 0.1793
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1790 - mse: 0.1790
Epoch 43/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1790 - mse: 0.1790A: 1 - ETA: 0s - loss: 0.1789 - mse: 0.17
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1788 - mse: 0.1788A: 0s - loss: 0.1797 - ETA: 0s - loss: 0.1789 - mse: 0.178
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1787 - mse: 0.1787
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1787 - mse: 0.1787
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1789 - mse: 0.1789A: 0s - loss: 0
Epoch 48/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1787 - mse: 0.1787A: 1s - - ETA: 0s - loss: 0.1792 - mse:
Epoch 49/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1787 - mse: 0.1787
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1787 - mse: 0.1787A: 1s - loss: 0.173 - ETA: 0s - loss: 0.17

#### Alternative Model 2

In [118]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [117]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [92]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 90

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

90

In [119]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A2 = 80

# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A2

80

In [120]:
# Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer3_A2 = 70

# Review the number of hidden nodes in the third layer
hidden_nodes_layer3_A2

70

In [121]:
# Define the number of hidden nodes for the fourth hidden layer
hidden_nodes_layer4_A2 = 60

# Review the number of hidden nodes in the fourth layer
hidden_nodes_layer4_A2

60

In [122]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [123]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features,activation="relu"))
nn_A2.add(Dense(units=hidden_nodes_layer2_A2, input_dim=number_input_features,activation="relu"))
nn_A2.add(Dense(units=hidden_nodes_layer3_A2, input_dim=number_input_features,activation="relu"))
nn_A2.add(Dense(units=hidden_nodes_layer4_A2, input_dim=number_input_features,activation="relu"))

# Output layer
nn_A2.add(Dense(1,activation="linear"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_22 (Dense)             (None, 90)                10530
_________________________________________________________________
dense_23 (Dense)             (None, 80)                7280
_________________________________________________________________
dense_24 (Dense)             (None, 70)                5670
_________________________________________________________________
dense_25 (Dense)             (None, 60)                4260
_________________________________________________________________
dense_26 (Dense)             (None, 1)                 61
=================================================================
Total params: 27,801
Trainable params: 27,801
Non-trainable params: 0
_________________________________________________________________

In [124]:
# Compile the model
nn_A2.compile(loss="mean_squared_error",optimizer="adam",metrics=["mse"])

In [125]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 3ms/step - loss: 0.2123 - mse: 0.2123A: 0s - loss: 0.2173 - m
Epoch 2/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1914 - mse: 0.1914A: 1s - loss: 0.1 - ETA: 0s - loss: 0.1925 - ms
Epoch 3/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1874 - mse: 0.1874A: 2s - - ETA: 0s - loss: 0.1866 - mse
Epoch 4/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1863 - mse: 0.1863
Epoch 5/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1869 - mse: 0.1869
Epoch 6/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1845 - mse: 0.1845A: 1s - loss: 0 - ETA: 0s - loss: 0.1847 - mse: 0.
Epoch 7/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1838 - mse: 0.1838A: 0s - loss: 0.1841 - mse: 0.1 - ETA: 0s - loss: 0.1845 - mse:
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1838 - mse: 0.1838A: 1s - loss: 0.1778 - ms - ETA: 1s - loss:
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1839 - mse: 0.1839A: 0s - loss: 0.
Epoch 10/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1827 - mse: 0.1827A: 0s - loss: 0.1837
Epoch 11/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1828 - mse: 0.1828A: 1s -
Epoch 12/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1824 - mse: 0.1824
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1825 - mse: 0.1825
Epoch 14/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1819 - mse: 0.1819A: 1s -
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1817 - mse: 0.1817A: 1s - lo - ETA: 0s - loss: 0.1817 - mse: 0.181
Epoch 16/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1814 - mse: 0.1814
Epoch 17/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1813 - mse: 0.1813
Epoch 18/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1811 - mse: 0.1811A: 1s - - ETA: 0s - loss: 0.1814 -
Epoch 19/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1809 - mse: 0.1809A: 1s - loss: 0.1774 - mse: 0.17
Epoch 20/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1806 - mse: 0.1806A: 1
Epoch 21/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1806 - mse: 0.1806
Epoch 22/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1803 - mse: 0.1803A: 1s - loss:  - ETA: 0s - loss: 0.1780 - mse: 0.17 - ETA: 0s - loss: 0.1780 -
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1802 - mse: 0.1802A: 1s - loss: 0.180 - ETA: 0s - loss: 0.1
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1801 - mse: 0.1801A: 0s - loss: 0.1795 - mse: 0. - ETA: 0s - loss: 0.1804 - m
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1802 - mse: 0.1802A: 1s - loss: - ETA: 0s - loss: 0.1802 - mse: 0.18
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1799 - mse: 0.1799
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1798 - mse: 0.1798
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1797 - mse: 0.1797A: 1s - loss: 0.1796 - mse: 0. - ETA: 1s - loss: 0.18 - ETA: 0s - loss: 0.1784
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1797 - mse: 0.1797A: 1s  - ETA: 0s - loss: 0.1795 - mse: 0.17
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1794 - mse: 0.1794A: 1s - loss: 0.1699 - mse:  - ETA: 1
Epoch 31/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1793 - mse: 0.1793A: 1s - loss: 0.1772 - mse - ETA: 0s - loss: 0.17
Epoch 32/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1791 - mse: 0.1791A: 0s - loss: 0.179
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1792 - mse: 0.1792A: 1s - loss: 0.1732 - mse: 0.173 - ETA: 1s - loss: 0.1731 - mse: 0.17 - ETA: 1s - loss: 0.1755 - mse: 0.1 - ETA: 1s
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1792 - mse: 0.1792A: 1s - loss: 0.1787 - mse: 0.178 - ETA: 1s - loss: 0. - ETA: 0s - loss: 0.1800 - ms
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1790 - mse: 0.1790A: 0s - loss: 0.1783 - mse:  - ETA: 0s - loss: 0.1787 - mse: 0.
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1789 - mse: 0.1789A: 1s - loss: 0.1802 - mse: 0 - ETA: 1s - loss: 0.17 - ETA: 0s - loss: 0.1789 - ms
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1789 - mse: 0.1789A: 0s - loss: 0.1789 -
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1787 - mse: 0.1787A: 0s - loss: 0.1779 - mse:
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1786 - mse: 0.1786
Epoch 40/50
804/804 [==============================] - ETA: 0s - loss: 0.1787 - mse: 0.1787- ETA: 1s - loss: - 2s 2ms/step - loss: 0.1787 - mse: 0.1787
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1785 - mse: 0.1785
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1787 - mse: 0.1787A: 0s - loss: 0.1785
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1785 - mse: 0.1785
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1783 - mse: 0.1783A
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1784 - mse: 0.1784A: 1s - loss: 0.1770 - mse:  - ETA: 0s - loss: 0.1773 - m - ETA: 0s - loss: 0.1781 - mse: 0
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1783 - mse: 0.1783
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1786 - mse: 0.1786A: 1s - loss:  - ETA: 0s - loss: 0.1785 - mse:
Epoch 48/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1788 - mse: 0.1788
Epoch 49/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1789 - mse: 0.1789- ETA: 0s - loss: 0.1792 - mse: 0.1
Epoch 50/50
804/804 [==============================] - 2s 3ms/step - loss: 0.1781 - mse: 0.1781

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [130]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5549 - accuracy: 0.7317
Loss: 0.5548617243766785, Accuracy: 0.7316617965698242

In [131]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.1868 - mse: 0.1868
Loss: 0.18675848841667175, Accuracy: 0.18675848841667175

In [132]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.1856 - mse: 0.1856
Loss: 0.18556742370128632, Accuracy: 0.18556742370128632

### Step 3: Save each of your alternative models as an HDF5 file.

In [133]:
# Set the file path for the first alternative model
file_path = Path("Resources/AlphabetSoup_A1.h5")

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [134]:
# Set the file path for the second alternative model
file_path = Path("Resources/AlphabetSoup_A2.h5")

# Export your model to a HDF5 file
nn_A2.save(file_path)